.planned {
    border-radius: 5px 5px 0px 0px;
    background: var(--Pure-White, #FFF);
    box-shadow: 0px 0px 0px 0px #F49F85;
    border-top: 6px solid #F49F85;
}

.active-content {
    display: block;
}

.active-tabs {
    background: white;
    text-decoration: underline;
}

.active-tabs::before {
    content: "";
    display: block;
}

.content {
    display: none;
}

.progress {
    border-radius: 5px 5px 0px 0px;
    background: var(--Pure-White, #FFF);
    box-shadow: 0px 0px 0px 0px #AD1FEA;
    border-top: 6px solid #AD1FEA;
}

.live {
    border-radius: 5px 5px 0px 0px;
    background: var(--Pure-White, #FFF);
    box-shadow: 0px 0px 0px 0px #62BCFA;
    border-top: 6px solid #62BCFA;
}