/* Your existing styles */
.planned {
    border-radius: 5px 5px 0px 0px;
    background: #F49F85;
    height: 6px;
}

.active-content {
    display: block;
}

.active-tabs {
    background: white;
    text-decoration: underline;
}

.active-tabs::before {
    content: "";
    display: block;
}

.content {
    display: none;
}

.progress {
    border-radius: 5px 5px 0px 0px;
    background: #AD1FEA;
    height: 6px;
}