.planned {
    border-radius: 5px 5px 0px 0px;
    border-radius: 20px;
    background: var(--Pure-White, #FFF);
    box-shadow: 0px 0px 0px 0px #F49F85;
}
.content {
    display: none;
}

.active-content {
    display: block;
}

.active-tabs {
    background: white;
    text-decoration: underline;
}

.active-tabs::before {
    content: "";
    display: block;
}
.content {
    display: none;
}